@font-face {
  font-family: "DMSerif";
  src: url(./Fonts/DMSerifText-Regular.ttf);
}


h1 {
  text-align: center;
}
img {border-radius: 15px;
display: block;
margin: 0
}
.profile img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: auto;
}

body {
  font-family: "DMSerif";
  font-size: 10px;
}

.profile {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color:whitesmoke ;
}